<% if day_name == 'all' %>

  <h2>Ideas for <em>each day</em>:</h2>

  <% stats.by_day.each do |day, ideas| %>
    
    <h3><%= day %></h3>
    
    <% if ideas.count == 0 %>
      
      <ul class="list-group">
        <li class="list-group-item">

          <em>There are currently no ideas for this day.</em>

          <a style="float: right; display: inline" href="/existing_ideas">
            View All Existing Ideas »
          </a>

          <br>

        </li>
      </ul>

    <% else %>  

      <% ideas.each do |idea| %>

        <ul class="list-group">
          <li class="list-group-item">

            <%= idea.title %>

            <a style="float: right; display: inline" href="/<%= idea.id %>/details">
              Idea Details »
            </a>

            <br>

          </li>

      <% end %>

        </ul>


    <% end %>

  <% end %>

<% else %>

  <% ideas_for_day.each do |day, ideas| %>

    <h3>Ideas For <em>'<%= day %>'</em>: </h3>

    <legend></legend>

    <% if ideas.count == 0 %>

      <h5><em>There are currently no ideas for '<%= day %>'</em></h5>

    <% else %> 

      <% ideas.each do |idea| %>
        <%= erb :"idea/idea", :locals => {idea: idea} %>
      <% end %>

    <% end %>

  <% end %>

<% end %>
