<% if param == 'default' %>

  <%= erb :"idea/existing_ideas", locals: {ideas: ideas} %>

<% else %>

  <h3>Your Ideas Sorted by '<em><%= param%></em>':</h3><br>

  <% if param == 'title' %>

    <% filtered_ideas.each do |title, ideas| %>
      
      <% ideas.each do |idea| %>

        <ul class="list-group">
          <li class="list-group-item">

            <%= title %>

            <a style="float: right; display: inline" href="/<%= idea.id %>/details">
              Idea Details »
            </a>

            <br>

          </li>

      <% end %>
        
        </ul>

   
    <% end %>

  <% elsif param == 'date created' %>

    <% filtered_ideas.each do |date, ideas| %>

      <% ideas.each do |idea| %>
      
        <h4><%= date.strftime("%A, %D at %l:%M") %></h4>
          
          <ul class="list-group">
            <li class="list-group-item">

              <%= idea.title %>  

              <a style="float: right; display: inline" href="/<%= idea.id %>/details">
                Idea Details »
              </a>

            <br>

          </li>
        </ul>

      <% end %>

    <% end %>
        
  <% elsif param == 'tag count' %>

    <% filtered_ideas.each do |idea| %>
    
      <span class="badge"><%= idea.tags.count %></span>

        <ul class="list-group">
          <li class="list-group-item">

            <%= idea.title %>

            <a style="float: right; display: inline" href="/<%= idea.id %>/details">
              Idea Details »
            </a>
            
          </li>

        </li>
     
      </ul>

    <% end %>
   
  <% end %>

<% end %>

