  <h1>Your Ideas By Day:</h1>
  <% if search == 'all' %>
    <% store.day_values.each do |day| %>
      <dl>
      <h2><%= day %></h2>

      <% store.find_by_day(day).each do |idea| %>

        <% if idea.nil? %>
          <p>There are no ideas for <%= day %></p>
        <% else %>

        <li><%= erb :idea, locals: {idea: idea}%></li>
          <br>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <h2><%= search %></h2>

    <% ideas.each do |idea| %>
      <%= erb :idea, :locals => {idea: idea} %>
    <% end %>
  <% end %>

</dl>
