      <b>Title:</b> <%= idea.title %><br>
      <b>Description:</b> <%= idea.description %><br>
      <b>Tags:</b> <% tags = idea.data_hash["tags"] %>
      <%= tags unless tags == "no tag" %>
        <br>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type="submit" value="LYKE DAT"/>
      </form>

      <a href="/<%= idea.id %>/edit">Edit DAT</a>

      <form action="/<%= idea.id %>" style="display: inline" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="idea no mo'!"/>
      </form>
      
      <br>      

