
<p>
  <% if tag == 'all'%>
    
    <h1>Your Ideas By Tag:</h1>
      <% ideas.all_tags_for_ideas.sort.each do |tag| %>

      <h3><a href="/tags/<%= tag %>"><%= tag %></a></h3>
      
        <% ideas.tag_hash[tag].each do |idea| %>
        <br>
        
        <%= erb :idea, locals: {idea: idea}%>
        <% end %>
      <% end %>
  <% elsif ideas.tag_hash[tag].nil? %>
    <h3>There are no known ideas with the tag '<em><%= tag %></em>'</h3>
    <dl><h5>Please click <a href='/existing_ideas'>here</a> for all current ideas.</h5></dl>
  <% else%>
    <% if ideas.tag_hash[tag].count == 1 %>
    <h3>Your Idea For '<em><%= tag %></em>':</h3><br>
      <%= erb :idea, locals: {idea: ideas.tag_hash[tag].first}%>
    <% else %>
    <h3>Your Ideas For '<em><%= tag %></em>':</h3><br>
      <% ideas.tag_hash[tag].each do |idea| %> 
      <%= erb :idea, locals: {idea: idea}%>
      <% end %>
      <% end %>
  <% end %>
</p>

