<% if tag_value == 'all'%>
  
  <h3>Your ideas by <em>Tag</em>:</h3>

  <% ideas_for_tags.each do |tag, ideas| %>

    <h3><%= tag %>:</h3>
  
    <% ideas.each do |idea| %>
      <%= erb :"idea/idea", locals: {idea: idea}%>
    <% end %>

    <legend></legend>

  <% end %>

<% else%>

  <% if ideas_for_tags[tag_value].nil? %>

    <%= erb :error, :locals => {message: 'There was an error in linking to your tag, please try the search bar  .'} %>

  <% elsif ideas_for_tags[tag_value].count == 1 %>

    <h3>Your idea for '<em><%= tag_value %></em>':</h3><br>

    <%= erb :"idea/idea", locals: {idea: ideas_for_tags[tag_value].first}%>

  <% else %>

  <h3>Your ideas for '<em><%= tag_value %></em>':</h3><br>

    <% ideas_for_tags[tag_value].each do |idea| %> 
      <%= erb :"idea/idea", locals: {idea: idea}%>
    <% end %>

  <% end %>
  
<% end %>

